<header class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-2">
                    <li class="nav-item"><a class="nav-link" href="#experiences">Deneyimler</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolios">Projelerim</a></li>
                    <li class="nav-item"><a class="nav-link" href="#educations">Eğitim</a></li>
                    <li class="nav-item"><a class="nav-link" href="#testimonials">Referanslar</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contacts">İletişim</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Default/Index/">Öz Geçmiş Olarak Gör</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>