@using EntityLayer.Concrete
@model List<About>

<div class="col">
    @foreach (var item in Model)
    {
        <div class="mt-2">
            <h3 class="h6">Adres</h3>
            <div class="pb-2 text-primary">@item.Address</div>
            <h3 class="h6">Telefon</h3>
            <div class="pb-2 text-primary">@item.Phone</div>
            <h3 class="h6">Email</h3>
			<div class="pb-2 text-primary">@item.Mail</div>
            @await Component.InvokeAsync("SocialMediaFooter")
        </div>
    }    
</div>