@using EntityLayer.Concrete
@model List<Education>

<div class="card card-secondary" id="educations">
	<div class="card-header">
		<h3 class="card-title">Eğitim</h3>
	</div>
	<div class="card-body">
		<div class="tab-content">
			<div class="timeline timeline-inverse">
				@foreach (var item in Model)
				{
					<div>
						<div class="timeline-item">
							<h3 class="timeline-header"><a href="#">@item.School </a>@item.Section</h3>
							<div class="timeline-body">
								@item.Description
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>